{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        {{/*  {{ partial "call.html" . }}  */}}
        <div class="content mt-4">{{.Content}}</div>
        


        <form name="contact" netlify>
          <label for="name">Name *</label>
          <input type="text" name="name" id="name" autocomplete="name" title="name" required>      
          <label for="name">Organization Name</label>
          <input type="text" name="organization-name" id="name" autocomplete="name" title="Please enter your organization name" >
          <label for="email">Email *</label>
          <input type="email" name="email" id="email" autocomplete="email" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone" autocomplete="tel-national" >
          <label for="message">Message *</label>
          <textarea name="message" id="message" rows="7" required></textarea>
          <button type="submit" name="submit" class="contact-button">Send Message</button>
        </form>
        
        
      </div>
    </div>
  </div>
</div>

{{ end }}