# Hugo build output / cache
public/
resources/_gen/
.hugo_build.lock
.forestry/

# Local Netlify folder
.netlify

# Node / Netlify Visual Editor (Stackbit)
node_modules/
.stackbit/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
