$primary: #486A6F;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$steel: rgb(92, 90, 90);
$ghost: #f4f5fb;
$marigold: #ffe26a;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 20%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Roboto, sans-serif;
$font-family-heading: Bitter, sans-serif; 