<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h3 class="footer-title">{{.Site.Title}}</h3>
          <ul>
            <li>
              <a href="mailto:info@marigoldgrants.com" title="info@marigoldgrants.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/marigoldgrants" title="https://www.linkedin.com/company/marigoldgrants">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a href="{{.URL}}">
                {{ .Name }}
              </a>
            </li>
            {{end}}
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>